.container {
  width: 80%;
  margin: 0 auto;
  height: auto;
}
.header {
  height: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: blue;
  justify-content: space-around;
}
.header p, h2 {
  background-color: chocolate;
}
.guidebook-container {
  display: flex;
  flex-direction: column;
}
.image-container {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
}
.city {
   font-size: 18px;
   font-weight: 400;
   letter-spacing: 2px;
 color: azure;
 font-family: sans-serif;
 text-align: center;
}
.image1 {
  display: flex;
  justify-content: center;
  align-items: center;
 background-color: lightgray;
 width: 200px;
 height: 200px;
 background-image: url("img/san-francisco.jpg");
 background-position: center;
 background-size: cover;
}
.image2 {
 display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
 width: 200px;
 height: 200px;
 background-image: url("img/new-york.jpg");
 background-position: center;
 background-size: cover;
}
.image3 {
 display: flex;
  justify-content: center;
  align-items: center;
 background-color: lightgray;
 width: 200px;
 height: 200px;
 background-image: url("img/london.jpg");
 background-position: center;
 background-size: cover;
}
.image-container image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
button {
  width: 30%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  transition: 1s ease-in-out;
  margin-top: 20px;
}
button:hover {
  background-color: lightcyan;
}