#stuff{
    animation: type 4s steps(26);
    overflow: hidden;
    white-space: nowrap;
    font-family: consolas;
    border-right: 4px solid black;
    width: 26ch;

}
@keyframes type {
    0%{
        width: 0ch;
    }
    100%{
        width:26ch ;
    }
}